:root{
    --color-primary:#27AE60;
    --color-secondary:#EB5757;

    --gray-600:#333333;
    --gray-300:#828282;
    --gray-100:#E0E0E0;
    --gray-0:#F5F5F5;
    --color-gray-4:#BDBDBD;


    --font-primary:'Inter', sans-serif;
}
