.heading1 {
    font-family: var(--font-primary);
    font-size: 1.625rem;
    line-height: 2.125rem;
    font-weight: 700;
}

.heading2 {
    font-family: var(--font-primary);
    font-size: 1.375rem;
    line-height: 1.5rem;
    font-weight: 700;
}

.heading3 {
    font-family: var(--font-primary);
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 700;
}

.headline {
    font-family: var(--font-primary);
    font-size: 16px;
    color: var(--gray-300);
}

.caption {
    font-family: var(--font-primary);
    font-size: 0.75rem;
    color: var(--gray-300);
}

.body{
    font-family: var(--font-primary);
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: var(--color-primary);
}