.li {
    display: flex;
    padding: 9px;
    justify-content: space-between;

    & > button {
        color: #BDBDBD;
    }

    &>div {
        display: flex;
        margin-top: 2px;
        div {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
        }

        img {
            width: 3.4375rem;
            border-radius: 5px;
            padding: 12px;
            background-color: #E0E0E0;
        }

        h3 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 1rem;
        }

        span {
            color: var(--color-primary);
            padding-left: 1rem;
        }
    }
}